.snackbar-enter-from {
  opacity: 0;
  transform: translateY(50%)
}
.snackbar-leave-from {
  max-height: 1000px
}
.snackbar-leave-to {
  max-height: 0;
  opacity: 0;
  margin-bottom: 0;
  overflow: hidden
}

.snackbar-enter-active {
  transition: transform .3s, opacity .3s
}
.snackbar-leave-active {
  transition: max-height .45s cubic-bezier(0, 1, 0, 1), opacity .3s, margin-bottom .3s
}
